*{
    margin: 0;
}

body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    /* background-color: black; */
    background-image: url("https://images.alphacoders.com/293/thumb-1920-293821.jpg");

    
}

.cupcake {
    display: flex;
}

.flex1 {
    /* flex : 1 */
}

.flex2 {
    flex : 2
}

.pl1 {
    padding-left: 1em;
}

.img {
    align-self: flex-start;
    height: auto; 
    max-width: 100%;
}


.cupcake_box {
    padding: 1em;
    margin: 1em;
    border-radius: 0.5em;
}

.cupcake1 {
    background-color: #FF4E00;
}

.cupcake2 {
    background-color: #aa0b95;
}

.cupcake3 {
    background-color: #FB4D3D;
}

.blue {
    background-color: #FF4E00;
}

.menu-heading {
    padding: 45px;
    text-align: center;
    font-family: san-serief;
    font-size: 75px;
}

.title_heading{
    text-align: center;
    font-family: cursive;
    padding-bottom: 25px;
}

.footer-p{
    text-align: center;
    padding-bottom: 25px; 
}